/*
body{
  display: grid;
  /*grid-template-columns: 200px 400px 200px;
  grid-template-columns: 1fr 1fr 1fr; /*En vez de utilizar medidas absolutas, se puede utilizar esta forma (fr) que representa una fracción del espacio disponible del contenedor.
  grid-template-rows: repeat (3, 1fr);
  gap: 10px;
}

header{
  grid-column: 1/4;
}
*/

body{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 12vh;
  gap: 10px;
  grid-template-areas: 
  "h h h h h h"
  "n A A A A a"
  "n A A A A a"
  "n A A A A a"
  "n A A A A a"
  "n f f f f f";
}

header{
  grid-area: h; /* primero se identifica al contenedor con una etiqueta, se recomienda etiquetar a todos con la misma cantidad de caracteres*/
}

nav{
  grid-area: n;
}

article{
  grid-area: A;
}

aside{
  grid-area: a;
}

footer{
  grid-area: f;
}